<mat-toolbar color="primary" style="font-size: 20px; font-weight: 600;">
  Plate Droplet Viewer
</mat-toolbar>


<div class="container">
  <mat-card>
    <mat-card-content>
    <div class="controls-row">
      <app-file-upload (jsonLoaded)="onJsonLoaded($event)"></app-file-upload>
    
      <app-threshold-form [currentThreshold]="threshold" (thresholdChange)="onThresholdChange($event)"></app-threshold-form>
    </div>    
    
    <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div>

      <div *ngIf="hasPlate; else noPlate">
        <app-summary
          [totalWells]="wells.length"
          [lowWells]="lowCount"
        ></app-summary>


        <app-plate-grid
          [wells]="wells"
          [size]="plateSize!"
          [threshold]="threshold"
        ></app-plate-grid>
      </div>

      <ng-template #noPlate>
        <p>Please upload a plate droplets JSON file to view the grid.</p>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
